# Python cache
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code
.vscode/

# Model weights
*.h5
*.pt

# Dataset
data/

# Outputs
outputs/

# Build / Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env